.formulario {
    margin-top: 2rem;
}

.formulario__legenda {
    font-size: var(--fonte-tamanho-formulario-fieldset);

    margin-bottom: 1rem;
}

.formulario__dupla {
    display: flex;
}

.formulario__campo {
    margin: .6em 1em .6em 0;
}

.input-container {
    font-weight: var(--fonte-peso-input);
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.input {
    background-color: var(--color-light);
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-blue);
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;
}

.input::placeholder {
    visibility: hidden;
    color: #00000000;
}

.input:focus {
    outline: none;
}

.input-label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: var(--fonte-tamanho-input-label);

    transition: all .25s;
}

.input:not(:placeholder-shown) + .input-label, .input:focus + .input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all .25s;
}

input:read-only {
    background-color: var(--color-light);
}

input:valid {
    background-color: var(--color-light);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #282a36e6 inset !important;
  -webkit-text-fill-color: #6272a4 !important;
}

.input-container--invalido {
    margin-bottom: 0.5rem;
}

.input-container--invalido .input {
    border: 1px solid var(--cor-aviso);
    border-radius: 7px;
}

.input-container--invalido .input-label {
    color: var(--cor-aviso);
}

.input-mensagem-erro {
    display: none;
}

.input-container--invalido .input-mensagem-erro {
    color: var(--cor-aviso);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.textarea {
    box-sizing: border-box;
    border: 1px solid var(--color-blue);
    padding: 0.5rem;    
    border-radius: 7px;
    width: 100%;
    min-height: 3rem;
}

.textarea-container {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: var(--fonte-peso-input);
}

.textarea::placeholder {
    visibility: hidden;
}

.textarea:focus {
    outline: none;
}

.textarea-label {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: var(--fonte-tamanho-input-label);
    transition: all 0.25s;
}

.textarea:not(:placeholder-shown) + .textarea-label, .textarea:focus + .textarea-label {
    font-size: 0.875rem;
    top: -1.25rem;
    transition: all 0.25s;
}

.textarea-container--invalido {
    margin-bottom: 0.5rem;
}

.textarea-container--invalido .textarea {
    border: 1px solid var(--cor-aviso);
}

.textarea-container--invalido .textarea-label {
    color: var(--cor-aviso);
}

.textarea-mensagem-erro {
    display: none;
}

.textarea-container--invalido .textarea-mensagem-erro {
    display: block;
    color: var(--cor-aviso);
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

select {
    /* Style the select element */
    color: var(--color-blue);
    font-size: 20px;
    font-weight: 300;
    background-color: var(--color-light);
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-blue);
    padding: 1rem 0.2rem 0.5rem;
    height: 3.25rem;
    width: 100%;
  
  }
  
  select:focus {
    /* Style the select element when it is focused */
    outline-color: #6272a4;
  }

  option {
    /* Style the option elements */
    background-color: #44475a;
    font-weight: normal;
  }


  #quantity {

    width: 100px;
  }
  